*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.topbar{
    height: 40px;
    width: 1287px;
    border-bottom: 0.5px solid #E2DFDF;
    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    padding-top: 0px;
}
.topbar-row{
    margin-top: 1%;
    margin-bottom: 0.3%;
    text-align: center;
    display: flex;
    justify-content: baseline;

}
.topbar-col{

    background: #ffffff;
    padding: 1px 80px;
    font-size: 12px;
    position: relative;
    
}    
.topbar-col:hover{
    color:#ee8015;
    }
.topbar-row:hover{
    color:#ee8015;
}
.topbar-header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    margin-bottom: 0%;
    margin-top: 1%;
    margin-left: center;
    color: #0a4c5d;
}
.topbar-header:hover{
color:#ee8015
}
span{
    font-size: 12px;
}
.icons{
    margin-left: 15%;
    color:#3342cf;
}

@media(max-width: 700px){
    .topbar{
        display: none;
    }    
}

/*----------header main---------*/
nav{
    display: flex;
    padding: 2%, 8%;
    height: 55px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
	z-index: 10000;
	position: fixed;
	top: 0px;
	width: 100%
}
nav img{
    margin-left: 1%;
    margin-top: 5%;
    width: 280px;
    height: 47px;
    
}
.nav-links{
    flex: 1;
    text-align: center;
    background-color: transparent;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 12px;
    position: relative;
	border-radius: 10px;
    line-height: 20px;
	margin-top: 12px;
}
.nav-links ul li a{
    font-family: Arial, Helvetica, sans-serif;
    color: #16163f;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
   
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 3px;
    background: rgb(0, 75, 140);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}

* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #16163f;
  padding: 14px 16px;
  background-color: inherit;
  font-family:  Arial, Helvetica, sans-serif; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}



/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 45px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #e0842e;
    background: #e0842e;
    transition: 1s;
}
nav .fa{
    display: none;
}
@media(max-width: 970px){
    nav{
        height: 10%;
    }
}
@media(max-width: 700px){
    .header{
        background-position: center;
        background-size: cover;
        position: relative;
    }
    nav{
        height: 100px;
    }
    .text-box h1{
        font-size: 30px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position:absolute;
        background: rgb(0, 75, 140);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #e0842e;
        margin: 20px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 10px;
    }
}

/* Slideshow container */

.slideshow-container { 
    position: relative; /* "relative", so that h1 and images can be set absolutely */
	height: 80%; /* Adjust the height to your needs here */
	width: 100%; /* Adjust the width to your needs here */
	margin-top: 8%;
	overflow: hidden;
	border-radius: .125rem;
	box-shadow: 0 0 .1rem .125rem rgba(0, 0, 0, 0.25);
}

.slider--heading {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 1rem;
	z-index: 99;
	font: 300 1.25rem/1.25 Verdana, sans-serif;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	color: rgba(0, 0, 0, 0.5);
	transform: translate3d(-50%, -50%, 0);
}
.slider--heading h1 {
	font: 300 1.25rem/1.25 Verdana, sans-serif;
	text-transform: uppercase;
	color: rgba(0,0,0,.5);
}
@media(max-width: 700px){
    .slideshow-container{
        margin-top: 70px;
        object-fit: contain;
    }
}
	/* Responsive styles for the heading */
	/* ===== == = === 30em (480px) === = == ===== */
	@media only screen and (min-width : 30em) {
		.slider--heading h1 {font-size: 1.5rem;}
	}
	/* ===== == = === 48em (768px) === = == ===== */
	@media only screen and (min-width : 48em) {
        .slider--heading h1 {font-size: 1.75rem;}
	}

/* Hide the images by default */

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.5s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #ffffff;
  font-size: 18px;
  margin-top: 15%;
  margin-left: 8%;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: left;
  text-shadow: 1px 1px 0px #474545;
}
@media(max-width: 700px){
    .tohide{
        display: none;
    }
    .ries{
    	font-size: 20px;
    }    
}
.btns {
	margin: left;
	padding: .5rem;
	font-size: 1rem;
	text-decoration:wavy;
    text-align: center;
	text-shadow: 1px 1px 1px #161313;
	background:#ee8015;
	border-radius: 39px;
	box-shadow: 0px 0px 0px 0px #ffffff;
	opacity:80%;
	color:#E2DFDF;
    position:relative;
}   
	/* Responsive styles for the button */
	/* ===== == = === 30em (480px) === = == ===== */
	@media only screen and (min-width : 480px) {
		.btns {
			font-size: 1rem;
		}
		.mySlides {
			height: 500px;
		}
	}
	/* ===== == = === 48em (768px) === = == ===== */
	@media only screen and (min-width : 48em) {
		.btns {
			font-size: 1rem;
		}
	}
.btn:hover {
	text-decoration: none;
	color: rgb(208, 208, 238);
}
.btns:hover {
	text-decoration: none;
	color: rgb(255, 255, 255);
    box-shadow: 0 0 1px 1px #ffffff;
}

.mySlides {
	position: initial;
	z-index: 1;
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	animation: 45s ease-in-out infinite;
} 
 /* Name of animations and selection of images */
 .mySlides:nth-of-type(1) {
	animation-name: Slider1;
}
.mySlides:nth-of-type(2) {
	animation-name: Slider2;
}
.mySlides:nth-of-type(3) {
	animation-name: Slider3;
}

/* Images are overlaid and visible or invisible due to different transparency */
/* Moving the images with transform: scale & translate */
	/* Styles for webkit browsers */
@keyframes Slider1 {
	0%  { opacity:1; -webkit-transform: scale(1.4s) translate(0, 0);}
	16%  {opacity:1; -webkit-transform: scale(1.2s) translate(-20px, -20px);}
	33%  {opacity:1; -webkit-transform: scale(1.4s) translate(0, 0);}
	50%  {opacity:1;-webkit-transform: scale(1.4s) translate(0, 0);}
	67%  {opacity:1;-webkit-transform: scale(1.2s) translate(-20px, -10px);} 
	84%  {opacity:1; -webkit-transform: scale(1.4s) translate(0, 0);}
	100%  {opacity:1; -webkit-transform: scale(1.4) translate(0, 0);}
}
@keyframes Slider2 {
	0%  { opacity:1; -webkit-transform: scale(1.4s) translate(0, 0);}
	16%  {opacity:1; -webkit-transform: scale(1.2s) translate(-20px, -10px);}
	33%  {opacity:1; -webkit-transform: scale(1.4s) translate(0, 0);}
	50%  {opacity:1;-webkit-transform: scale(1.4s) translate(0, 0);}
	67%  {opacity:1;-webkit-transform: scale(1.2s) translate(-20px, -10px);} 
	84%  {opacity:1; -webkit-transform: scale(1.4s) translate(0, 0);}
	100%  {opacity:1; -webkit-transform: scale(1.4) translate(0, 0);}
}
@keyframes Slider3 {
	0%  { opacity:1; -webkit-transform: scale(1.4s) translate(0, 0);}
	16%  {opacity:1; -webkit-transform: scale(1.2s) translate(-20px, -10px);}
	33%  {opacity:1; -webkit-transform: scale(1.4s) translate(0, 0);}
	50%  {opacity:1;-webkit-transform: scale(1.4s) translate(0, 0);}
	67%  {opacity:1;-webkit-transform: scale(1.2s) translate(-20px, -10px);} 
	84%  {opacity:1; -webkit-transform: scale(1.4s) translate(0, 0);}
	100%  {opacity:1; -webkit-transform: scale(1.4) translate(0, 0);}
}

	/* Styles for all other browsers */
@keyframes Slider1 {
	0%  { opacity:1; -webkit-transform: scale(1.4s) translate(0, 0);}
	16%  {opacity:1; -webkit-transform: scale(1.2s) translate(-20px, -10px);}
	33%  {opacity:1; -webkit-transform: scale(1.4s) translate(0, 0);}
	50%  {opacity:1;-webkit-transform: scale(1.4s) translate(0, 0);}
	67%  {opacity:1;-webkit-transform: scale(1.2s) translate(-20px, -10px);} 
	84%  {opacity:1; -webkit-transform: scale(1.4s) translate(0, 0);}
	100%  {opacity:1; -webkit-transform: scale(1.4) translate(0, 0);}
}
@keyframes Slider2 {
	0%  { opacity:1; -webkit-transform: scale(1.4s) translate(0, 0);}
	16%  {opacity:1; -webkit-transform: scale(1.2s) translate(-20px, -10px);}
	33%  {opacity:1; -webkit-transform: scale(1.4s) translate(0, 0);}
	50%  {opacity:1;-webkit-transform: scale(1.4s) translate(0, 0);}
	67%  {opacity:1;-webkit-transform: scale(1.2s) translate(-20px, -10px);} 
	84%  {opacity:1; -webkit-transform: scale(1.4s) translate(0, 0);}
	100%  {opacity:1; -webkit-transform: scale(1.4) translate(0, 0);}
}
@keyframes Slider3 {
	0%  { opacity:1; -webkit-transform: scale(1.4s) translate(0, 0);}
	16%  {opacity:1; -webkit-transform: scale(1.2s) translate(-20px, -10px);}
	33%  {opacity:1; -webkit-transform: scale(1.4s) translate(0, 0);}
	50%  {opacity:1;-webkit-transform: scale(1.4s) translate(0, 0);}
	67%  {opacity:1;-webkit-transform: scale(1.2s) translate(-20px, -10px);} 
	84%  {opacity:1; -webkit-transform: scale(1.4s) translate(0, 0);}
	100%  {opacity:1; -webkit-transform: scale(1.4) translate(0, 0);}
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name:fade;
  animation-duration: 15.5s;
}

@keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
  }


/*------service-add-----*/
.about{
	width: 100%;
	padding: 100px 0px;
    padding-bottom: 0%;
	background-color: #fff;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: #1b4bc5;
	font-size: 35px;
	text-transform: capitalize;
	margin-bottom: 20px;
}

.about-text p{
	color: #000;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
.about a{
	background-color:#1b4bc5;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.about a:hover{
	background-color: transparent;
	border: 2px solid #1b4bc5;
	cursor: pointer;
    color: #000;
}

.service{
	background: #fff;
	width: 100%;
	padding: 25px 0px;   
    margin-top: 0px;
}
.title h2{
	color: #1b4bc5;
	font-size: 35px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
    margin-top: 5px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card img{
    height: 90px;
    width: 90px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	
}
h5{
	color: #1b4bc5;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fff;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#1b4bc5;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #1b4bc5;
	cursor: pointer;
}

@media(max-width: 700px){
    .title h2{
        width: 100%;
    }
    .main{
        width: 100%;
        flex-direction: column;
    }
    .about img{
        width: 100%;
    }
    .row-t{
        flex-direction: column;
    }
    .row{
        width: 100%;
    }
    .about-text{
        width: 100%;
    }
    .box{
        flex-direction: column;
    }
}
/*----------updates---------------*/

.updates{
    width: 80%;
    margin:auto;
    text-align: center;
    padding-top:50px;
}
.updates-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5px;
    text-align: left;
}
.row-t{
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 400px;
    margin-top: 5px;
}
.updates-col img{
    width: 100%;
    border-radius: 10px;
}
.updates-col p{
    padding: 0;
}
.updates-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: left;
}

/*----------features initiatives-------*/

.features{
    width: 100%;
    margin:auto;
    text-align: center;
    padding-top:50px;
}
.features-col{
    flex-basis: 25%;
    border-radius: 10px;
    margin-bottom: 80px;
    position: relative;
    overflow: hidden;
}
.features-col img{
    width: 100%;
    display: block;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

}
.layer:hover{
    background: rgba(6, 133, 236, 0.4);
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 35%;
    opacity: 1;
}

/*-----------map&info------------*/

.container-box{
	position: relative;
	width: 99%;
    background-color: #e0842e;
	height: 100%;
    margin-bottom: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding:50px 5px 50px 5px;
}

.container-box:after{
	content: '';
	position: absolute;
	width: 70%;
	height: 100%;
	left: 0;
	top: 0;
    right: 0;
	z-index: -1;
}
.contact-box{
	max-width: 850px;
    background-color: #fff;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 50px 25px 1px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #1b4bc5;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #1b4bc5;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #1b4bc5;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 700px){
	
    .container-box{
        padding: 10px 0px 10px 0px;
    }
    .contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}
/*----------footer------------*/
.container{
	max-width: 1000px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 25px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #f44336;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #1b4bc5;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){ 
  .footer-col{
    width: 49%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 90%;
}
}
