*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", Arial, sans-serif;
}
.container {
    width: 100%;
    height: 100vh;
    background: #657085;
    display: flex;
    align-items: center;
    justify-content: center;
}
.popup {
    width: 400px;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
}
.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2 {
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}


.button {
    border: none;
    color: #fff;
    background: #082e97;
    outline: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    padding: 12px 25px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    line-height: 1;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    font-size: 14px;
    font-size: 0.875rem;
  }
  
  .button:hover {
    background-color: #0759a5;
  }
  .buttonfull-width,
  .button.full-width {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
  .button.small,
  .popup button.small {
    padding: 7px 10px;
    font-size: 13px;
    font-size: 0.8125rem;
  }
  .popup button.medium,
  .popup button.medium {
    font-size: 16px;
    font-size: 1rem;
    padding: 18px 30px;
  }
  a.popup button.rounded,
  .popup button.rounded {
    -webkit-border-radius: 25px !important;
    -moz-border-radius: 25px !important;
    -ms-border-radius: 25px !important;
    border-radius: 37px !important;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);
  }